DATABASE_URL=mysql://db_username:db_password@db_host:db_port/db_name

JWT_SECRET=secret

ORIGINS=http://localhost:5173,http://localhost:3000

HOST=127.0.0.1
PORT=3033

STORAGE_PATH=./storage/

LOGGING_PATH=./logs/
LOGGING_LEVEL=debug
LOGGING_MAXSIZE=10M
LOGGING_INTERVAL=daily
LOGGING_MAX_FILES=7